include "10-global.kdl"
include "20-browser.kdl"
include "30-terminals.kdl"
include "35-workflow-apps.kdl"
include "40-media-chat.kdl"
include "50-games.kdl"
include "60-virtualization.kdl"
include "70-screencast-mirror.kdl"
include "80-floating-style.kdl"
include "90-security.kdl"
