window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

window-rule {
  match app-id="^firefox$"
  open-maximized true
  open-on-workspace "browser"
  // block-out-from "screen-capture"
}
