prefer-no-csd

include "config/environment.kdl"
include "config/input.kdl"
include "output/home.kdl"         // home|coude|gaming|record
include "extra/wallpaper.kdl"
include "config/layout.kdl"
include "config/startup.kdl"
include "config/rules/00-main.kdl"
include "config/debug.kdl"
include "config/binds.kdl"
include "config/workspace.kdl"

include "plugins/noctalia.kdl"
