input {
    keyboard {
        xkb {
            // For more information, see xkeyboard-config(7).
            layout "us"
	    variant "intl"
	    // variant "altgr-intl"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
            // localectl set-x11-keymap.
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

    // warp-mouse-to-focus
     focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    hide-after-inactive-ms 5000
    hide-when-typing
}
