spawn-at-startup "waybar"
spawn-at-startup "qs" "-c" "noctalia-shell"

hotkey-overlay {
  skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
}
